@tailwind base;
@tailwind components;
@tailwind utilities;

body.full-screen-modal-visible #root {
  display: none;
}

body.full-screen-modal-visible .full-screen-modal {
  display: none;
}

body.full-screen-modal-visible .full-screen-modal:last-child {
  display: block;
}

input,
textarea {
  -webkit-appearance: none;
}

#modals {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 99999;
}

.h-vvp {
  height: var(--100vvh, 100vh);
}

.min-h-vvp {
  min-height: var(--100vvh, 100vh);
}

.w-vvp {
  width: var(--100vvw, 100vw);
}

.min-w-vvp {
  min-width: var(--100vv2, 100vw);
}

.bottom-vvp {
  bottom: var(--offset-h, 0);
}

.touch-actions-none {
  touch-action: none;
}

@layer base {
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 100;
    src: url(./fonts/GalanoGrotesque/regular/GalanoGrotesqueThin.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 200;
    src: url(./fonts/GalanoGrotesque/regular/GalanoGrotesqueExtraLight.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 300;
    src: url(./fonts/GalanoGrotesque/regular/GalanoGrotesqueLight.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 400;
    src: url(./fonts/GalanoGrotesque/regular/GalanoGrotesqueRegular.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 500;
    src: url(./fonts/GalanoGrotesque/regular/GalanoGrotesqueMedium.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 600;
    src: url(./fonts/GalanoGrotesque/regular/GalanoGrotesqueSemiBold.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 700;
    src: url(./fonts/GalanoGrotesque/regular/GalanoGrotesqueBold.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 800;
    src: url(./fonts/GalanoGrotesque/regular/GalanoGrotesqueExtraBold.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 900;
    src: url(./fonts/GalanoGrotesque/regular/GalanoGrotesqueBlack.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 100;
    font-style: italic;
    src: url(./fonts/GalanoGrotesque/italic/GalanoGrotesqueThinItalic.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 200;
    font-style: italic;
    src: url(./fonts/GalanoGrotesque/italic/GalanoGrotesqueExtraLightItalic.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 300;
    font-style: italic;
    src: url(./fonts/GalanoGrotesque/italic/GalanoGrotesqueLightItalic.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 400;
    font-style: italic;
    src: url(./fonts/GalanoGrotesque/italic/GalanoGrotesqueRegularItalic.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 500;
    font-style: italic;
    src: url(./fonts/GalanoGrotesque/italic/GalanoGrotesqueMediumItalic.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 600;
    font-style: italic;
    src: url(./fonts/GalanoGrotesque/italic/GalanoGrotesqueSemiBoldItalic.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 700;
    font-style: italic;
    src: url(./fonts/GalanoGrotesque/italic/GalanoGrotesqueBoldItalic.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 800;
    font-style: italic;
    src: url(./fonts/GalanoGrotesque/italic/GalanoGrotesqueExtraBoldItalic.woff)
      format("woff");
  }
  @font-face {
    font-family: Galano Grotesque;
    font-weight: 900;
    font-style: italic;
    src: url(./fonts/GalanoGrotesque/italic/GalanoGrotesqueBlackItalic.woff)
      format("woff");
  }
}

@layer components {
  .bg-gradient-a {
    @apply bg-gradient-to-r ring-2 ring-transparent from-lavender-200 to-turquoise-300;
  }

  .bg-gradient-b {
    @apply bg-gradient-to-r ring-2 ring-transparent from-turquoise-200 to-turquoise-300;
  }

  .bg-gradient-b-big {
    @apply bg-gradient-to-r ring-2 ring-transparent from-turquoise-300 via-turquoise-200 to-turquoise-300;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-vvp {
    height: var(--100vvh, -webkit-fill-available);
  }

  .min-h-vvp {
    min-height: var(--100vvh, -webkit-fill-available);
  }
}

.slick-slider,
.slick-track,
.slick-list,
.slick-slide {
  min-height: 100%;
}

.icon-stroke-sm path {
  stroke-width: 1.5px !important;
}

.icon-stroke-md path {
  stroke-width: 2px !important;
}

.icon-stroke-lg path {
  stroke-width: 3px !important;
}

/*
Modified version of toast CSS to match designs
========
*/

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #ffffff;
  --toastify-color-info-border: #e0e7f0;
  --toastify-color-success: #e9fcf8;
  --toastify-color-success-border: #c1f4e9;
  --toastify-color-warning: #fdf0e8;
  --toastify-color-warning-border: #f4b88f;
  --toastify-color-error: #ffe5f4;
  --toastify-color-error-border: #f5a3b1;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info-border);
  --toastify-icon-color-success: var(--toastify-color-success-border);
  --toastify-icon-color-warning: var(--toastify-color-warning-border);
  --toastify-icon-color-error: var(--toastify-color-error-border);
  --toastify-toast-width: 100%;
  --toastify-toast-max-width: 440px;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 128px;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #0d1b2e;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #0d1b2e;
  --toastify-text-color-success: #0d1b2e;
  --toastify-text-color-warning: #0d1b2e;
  --toastify-text-color-error: #0d1b2e;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(to right, #7f83ff, #27debf);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info-border);
  --toastify-color-progress-success: var(--toastify-color-success-border);
  --toastify-color-progress-warning: var(--toastify-color-warning-border);
  --toastify-color-progress-error: var(--toastify-color-error-border);
}

.Toastify__toast-container {
  z-index: var(--toastify-z-index);
  -webkit-transform: translate3d(0, 0, var(--toastify-z-index) px);
  position: fixed;
  width: var(--toastify-toast-width);
  max-width: var(--toastify-toast-max-width);
  box-sizing: border-box;
}
.Toastify__toast-container--top-left {
  top: 1em;
  left: 1em;
}
.Toastify__toast-container--top-center {
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--top-right {
  top: 1em;
  right: 1em;
}
.Toastify__toast-container--bottom-left {
  bottom: 1em;
  left: 1em;
}
.Toastify__toast-container--bottom-center {
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--bottom-right {
  bottom: 1em;
  right: 1em;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0;
  }
  .Toastify__toast-container--top-left,
  .Toastify__toast-container--top-center,
  .Toastify__toast-container--top-right {
    top: 0;
    transform: translateX(0);
  }
  .Toastify__toast-container--bottom-left,
  .Toastify__toast-container--bottom-center,
  .Toastify__toast-container--bottom-right {
    bottom: 0;
    transform: translateX(0);
  }
  .Toastify__toast-container--rtl {
    right: 0;
    left: initial;
  }
}
.Toastify__toast {
  position: relative;
  min-height: var(--toastify-toast-min-height);
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 16px;
  border-radius: 12px;
  border-width: 1px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  overflow: hidden;
  cursor: pointer;
  direction: ltr;
}
.Toastify__toast--rtl {
  direction: rtl;
}
.Toastify__toast-body {
  margin: auto 0;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.Toastify__toast-body > div:last-child {
  -ms-flex: 1;
  flex: 1;
}
.Toastify__toast-icon {
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  width: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
}

.Toastify--animate {
  animation-fill-mode: both;
  animation-duration: 0.7s;
}

.Toastify--animate-icon {
  animation-fill-mode: both;
  animation-duration: 0.3s;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 0;
    border-radius: 0;
  }
}

.Toastify__toast-theme--dark {
  background: var(--toastify-color-dark);
  color: var(--toastify-text-color-dark);
  border-color: var(--toastify-text-color-dark);
}
.Toastify__toast-theme--light {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
  border-color: var(--toastify-text-color-light);
}
.Toastify__toast-theme--colored.Toastify__toast--default {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
  border-color: var(--toastify-text-color-light);
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  color: var(--toastify-text-color-info);
  background: var(--toastify-color-info);
  border-color: var(--toastify-color-info-border);
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  color: var(--toastify-text-color-success);
  background: var(--toastify-color-success);
  border-color: var(--toastify-color-success-border);
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  color: var(--toastify-text-color-warning);
  background: var(--toastify-color-warning);
  border-color: var(--toastify-color-warning-border);
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  color: var(--toastify-text-color-error);
  background: var(--toastify-color-error);
  border-color: var(--toastify-color-error-border);
}

.Toastify__progress-bar-theme--light {
  background: var(--toastify-color-progress-light);
}
.Toastify__progress-bar-theme--dark {
  background: var(--toastify-color-progress-dark);
}
.Toastify__progress-bar--info {
  background: var(--toastify-color-progress-info);
}
.Toastify__progress-bar--success {
  background: var(--toastify-color-progress-success);
}
.Toastify__progress-bar--warning {
  background: var(--toastify-color-progress-warning);
}
.Toastify__progress-bar--error {
  background: var(--toastify-color-progress-error);
}
/* .Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
  background: var(--toastify-color-transparent);
} */

.Toastify__close-button {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.Toastify__close-button--light {
  color: #000;
  opacity: 0.3;
}
.Toastify__close-button > svg {
  fill: currentColor;
  height: 16px;
  width: 14px;
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
  opacity: 1;
}

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: var(--toastify-z-index);
  transform-origin: left;
}
.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}
.Toastify__progress-bar--controlled {
  transition: transform 0.2s;
}
.Toastify__progress-bar--rtl {
  right: 0;
  left: initial;
  transform-origin: right;
}

.Toastify__spinner {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100%;
  border-color: var(--toastify-spinner-color-empty-area);
  border-right-color: var(--toastify-spinner-color);
  animation: Toastify__spin 0.65s linear infinite;
}

@keyframes Toastify__bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes Toastify__bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}
@keyframes Toastify__bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes Toastify__bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
.Toastify__bounce-enter--top-left,
.Toastify__bounce-enter--bottom-left {
  animation-name: Toastify__bounceInLeft;
}
.Toastify__bounce-enter--top-right,
.Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceInRight;
}
.Toastify__bounce-enter--top-center {
  animation-name: Toastify__bounceInDown;
}
.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInUp;
}

.Toastify__bounce-exit--top-left,
.Toastify__bounce-exit--bottom-left {
  animation-name: Toastify__bounceOutLeft;
}
.Toastify__bounce-exit--top-right,
.Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOutRight;
}
.Toastify__bounce-exit--top-center {
  animation-name: Toastify__bounceOutUp;
}
.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutDown;
}

@keyframes Toastify__zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes Toastify__zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.Toastify__zoom-enter {
  animation-name: Toastify__zoomIn;
}

.Toastify__zoom-exit {
  animation-name: Toastify__zoomOut;
}

@keyframes Toastify__flipIn {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@keyframes Toastify__flipOut {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.Toastify__flip-enter {
  animation-name: Toastify__flipIn;
}

.Toastify__flip-exit {
  animation-name: Toastify__flipOut;
}

@keyframes Toastify__slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideInLeft {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideInDown {
  from {
    transform: translate3d(0, -110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}
@keyframes Toastify__slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0);
  }
}
@keyframes Toastify__slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}
@keyframes Toastify__slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0);
  }
}
.Toastify__slide-enter--top-left,
.Toastify__slide-enter--bottom-left {
  animation-name: Toastify__slideInLeft;
}
.Toastify__slide-enter--top-right,
.Toastify__slide-enter--bottom-right {
  animation-name: Toastify__slideInRight;
}
.Toastify__slide-enter--top-center {
  animation-name: Toastify__slideInDown;
}
.Toastify__slide-enter--bottom-center {
  animation-name: Toastify__slideInUp;
}

.Toastify__slide-exit--top-left,
.Toastify__slide-exit--bottom-left {
  animation-name: Toastify__slideOutLeft;
}
.Toastify__slide-exit--top-right,
.Toastify__slide-exit--bottom-right {
  animation-name: Toastify__slideOutRight;
}
.Toastify__slide-exit--top-center {
  animation-name: Toastify__slideOutUp;
}
.Toastify__slide-exit--bottom-center {
  animation-name: Toastify__slideOutDown;
}

@keyframes Toastify__spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes react-loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}

.react-loading-skeleton {
  --base-color: #ebebeb;
  --highlight-color: #f5f5f5;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block; /* Enable animation */

  background-color: var(--base-color);

  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;

  position: relative;
  overflow: hidden;
  z-index: 1; /* Necessary for overflow: hidden to work correctly in Safari */
}

.react-loading-skeleton::after {
  content: " ";
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    var(--base-color),
    var(--highlight-color),
    var(--base-color)
  );
  transform: translateX(-100%);

  animation-name: react-loading-skeleton;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    transparent 10px,
    #1cb69c 10px,
    #1cb69c 50%,
    #e0e7f0 50%,
    #e0e7f0 calc(100% - 10px),
    transparent calc(100% - 10px)
  );
  cursor: pointer;
  width: 100%;
  height: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  z-index: 10;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 2px solid #fff;
  background-color: #1cb69c;
}
